* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: rgb(255, 159, 37);
  --second-color: rgb(20, 20, 60);
}
body {
  /* font-family: Arial, sans-serif; */
  background-image: url(/Assets/Background-website-01.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  /* background-position: center; */
}

.userConsignes {
  display: flex;
  width: 100vw;
}
.userConsignes span {
  margin-top: -2.5%;
  color: var(--main-color);
  margin-left: 300px;
  font-weight: 800;
  font-size: larger;
}
.logoI {
  background-image: linear-gradient(rgb(20, 20, 60), rgba(64, 5, 106, 0.1));
  width: 100%;
  
}

.logoI img,
.logo img {
  width: 10%;
  background-position: center;
  animation: floatImage 10s ease-in-out infinite;
}
@keyframes floatImage {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-0.5rem);
  }
  100% {
    transform: translateX(0);
  }
}

.top-bar {
  background-color: var(--second-color);
  color: white;
  /* text-align: center; */
  padding: 5px;
  border-bottom-right-radius: 1rem;
}

.content {
  display: flex;
  height: 100vh;
}

.sidebar {
  background-image: linear-gradient(rgb(20, 20, 60, 1), rgba(64, 5, 106, 0.85));
  /* color: white; */
  width: 20%; /* Adjust the width of the menu */
  padding: 0.4rem 0.8rem;
  height: 115vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
  border-bottom-right-radius: 2rem;
  background-color: transparent;
}

.logo img {
  width: 45%;
  border-radius: 0.5em;
}

.user-img {
  width: 50px;
  border-radius: 100%;
  border-radius: 1px solid white;
}

.sidebar .top .logo {
  margin-bottom: 15%;
}

.currentUser {
  display: flex;
  align-items: center;
  margin: 1rem 0 2rem;
}
.currentUser:hover {
  background-color: var(--main-color);
  border-radius: 100rem;
}
.currentUser p {
  color: #fff;
  margin-left: 1rem;
}

.bold {
  font-weight: 600;
}

.sidebar > ul:not(.nestedList) > li {
  /* position: relative; */
  list-style-type: none;
  height: 90px;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  border-radius: 0.8rem;
}
.sidebar ul li a:hover {
  background-color: var(--main-color);
  border-radius: 100rem;
}

.sidebar ul li a i {
  min-width: 50px;
  text-align: center;
  height: 50px;
  border-radius: 12px;
  line-height: 50px;
}

.nestedList ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  border-radius: 0.8rem;
}
.nestedList ul li a i {
  min-width: 50px;
  text-align: center;
  height: 50px;
  border-radius: 12px;
  line-height: 50px;
}

.nestedList {
  margin-left: 10%;
  margin-top: -25%;
  margin-bottom: 10%;
}

.nestedList li:hover {
  background-color: var(--main-color);
  border-radius: 10rem;
}

/* ****************************Styling for the dynamic content area ******************************/

.dynamic-content {
  flex: 1;
  padding: 20px;  
  display: flex;
  justify-content: center;
  
  text-align: center;
}

.name i{
  height: 50px;
  line-height: 50px;
}
