:root {
  --main-color: rgb(255, 159, 37);
  --second-color: rgb(20, 20, 60);
}


body,
html {
  margin: 0;
  padding: 0;
  height: 100%;  
background-image: linear-gradient(#141e30, #243b55);

}
.user_card {
  width: 700px;
  margin-top: auto;
  margin-bottom: auto;  
  background: rgba(20, 20, 60, 0.301);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  
}

.form_container {
  width: 700px;

  margin-top: 20px;
  font-family: 'Times New Roman', Times, serif;
}

#form-title {
  color: #fff;
  font-family: monospace;
}

.login_btn {
 
  background-color: var(--main-color);
  color: var(--second-color);

  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.login_btn:hover {
  background-color: var(--second-color);
  color: var(--main-color);
}

.login_container {
  padding: 0 2rem;
}



.input-group-text { 
  
color: var(--second-color);
background: var(--main-color) !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.d-flex.justify-content-center.links  {
    color: antiquewhite;
    font-family: monospace;
    font-size: 14px;
}

.d-flex.justify-content-center.links a {
    color: var(--main-color);
    font-family: monospace;
    font-size: 14px;
    text-decoration: none;
    border: none !important;
    border-radius: 100rem;
    box-shadow: 0 0 0.5rem var(--main-color);
}
/*************7888888888888888888888*********btn section7888888888888888888888888888888888888888888********************************** */
/*************7888888888888888888888*********btn section7888888888888888888888888888888888888888888********************************** */
/*************7888888888888888888888*********btn section7888888888888888888888888888888888888888888********************************** */
/*************7888888888888888888888*********btn section7888888888888888888888888888888888888888888********************************** */
/*************7888888888888888888888*********btn section7888888888888888888888888888888888888888888********************************** */

.selected-objectif {
  color: rgb(255, 255, 255);
  background: transparent;
  border: 1px solid var(--main-color);
  font-size: 1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
   border-radius: 0.8rem;
   display: block;
   justify-content: space-around;
   align-items: center;
   width: 90%;
   margin-bottom: 5%;
   margin-top: 5%;
   margin-left: 5%;
  
}

.selected-date {
  color: rgb(255, 255, 255);
  background: transparent;
  border: 1px solid var(--main-color);
  font-size: 1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
   border-radius: 0.8rem;
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 90%;
   height: 40%;
   margin-left: 5%;
  
}
.selected-project,
.selected-Nature {
  font-size: 1rem;
  font-weight: 500;
  background: transparent;
  border-radius: 0.8rem;
  margin: 3.7rem 0;
  font-family: "Poppins", sans-serif;
}


.dropdown-center-plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-left: 3%;
}


.selected-tache-plan , .selected-livrable-plan , .selected-hour-plan  {
  width: 90%;
  font-size: 1rem;
  font-weight: 100;
  background: transparent;
  border: 1px solid var(--main-color);
  margin-left: 5%;

  border-radius: 0.8rem;
margin-top: 5%;
  font-family: "Poppins", sans-serif;
  color: #fff;
}


.selected-livrable-real , .selected-hr-attr-real{
  color: #fff;
  width: 90%;
  font-size: 1rem;
  font-weight: 100;
  background: transparent;
  border: 1px solid var(--main-color);
  border-radius: 0.8rem;
  margin-top: 5%;
  margin-left: 5%;

  font-family: "Poppins", sans-serif;
}

.dropdown-center-real {
  margin-left: 10%;
display: block; 
 margin-bottom: 5%; /* Adjust the margin as needed for spacing */
}

.dropdown-center-real2 {
  margin-left: 32%;

 margin-bottom: 2%; /* Adjust the margin as needed for spacing */
}

.dropdown-center-real button {
  width: 100%;
}
/*************7888888888888888888888*********btn section7888888888888888888888888888888888888888888********************************** */
.btn.btn-primary.btn-sm.btn-block {
  padding: 1rem 2.8rem;
  letter-spacing: 0.1rem;
  font-weight: 1000;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: var(--second-color);
  color: var(--main-color);
  border: none;
  border-radius: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  cursor: pointer;
  transition: 0.5s ease;
}

.btn.btn-primary.btn-sm.btn-block:hover {
  background-color: var(--main-color);
  color: var(--second-color);
}


.title-name {
  letter-spacing: 0.1rem;
  font-weight: 1000;
  font-weight: bold;
  font-size: 1.2rem;
  box-shadow: 0 0 1rem var(--second-color);
  display: flex;
  justify-content: center;
  text-align: center;
}

/*/////////////////////////////////////////////////////test button/////////////////*/
/*********************DROP DOWN BTN ***********************/
.btn.btn-success.btn-sm.btn-block {
  /* top: 40px; */
  /* padding: 20px 90px;
  margin: 0 10px; */
  display: inline-block;
  /* text-decoration: none; */
  font-family: "proxima-nova", sans-serif;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase !important;
  letter-spacing: 2px;
  color: #fff;
  cursor: hand;
  text-align: center;
  text-transform: capitalize;
  border-radius: 0px;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: transparent !important;
}

.btn.btn-success.btn-sm.btn-block:hover {
  border: 1px solid var(--main-color);
  color: var(--main-color) !important;
}
.btn.btn-success.btn-sm.btn-block::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: var(--second-color);
  position: absolute;
  left: 0%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -webkit-transition: all 0.65s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.65s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.65s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.65s cubic-bezier(0.77, 0, 0.175, 1);
}

.btn.btn-success.btn-sm.btn-block::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background:var(--main-color) !important;
  position: absolute;
  left: 0%;
  opacity: 1;
  top: 0;
  z-index: -15;
  -webkit-transition: all 0.65s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.65s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.65s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.65s cubic-bezier(0.77, 0, 0.175, 1);
}
.btn.btn-success.btn-sm.btn-block:hover::before,
.btn.btn-success.btn-sm.btn-block:hover::before {
  opacity: 1;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
.btn.btn-success.btn-sm.btn-block:hover::after,
.btn.btn-success.btn-sm.btn-block:hover::after {
  opacity: 1;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

/*//////////////////////////save and close BTN/////////////////////////////////////*/
.btn.btn-primary.btn-sm.btn-block {
  font-family: "proxima-nova", sans-serif;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase !important;
  letter-spacing: 2px;
  cursor: hand;
  text-align: center;
  text-transform: capitalize;
  /* border: 1px solid #fff; */
  border-radius:50px;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /* background: transparent!important; */
  z-index: 10;
}

.btn.btn-primary.btn-sm.btn-block:hover {
  color: var(--second-color);
}
.btn.btn-primary.btn-sm.btn-block::before {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: var(--main-color);
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 2px 0px 14px var(--second-color);
}

.btn.btn-primary.btn-sm.btn-block::after {
  content: "";
  width: 0%;
  height: 100%;
  display: block;

  background: var(--second-color);
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all 0.94s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}
.btn.btn-primary.btn-sm.btn-block:hover::before,
.btn1O:hover::before {
  opacity: 1;
  width: 116%;
}
.btn.btn-primary.btn-sm.btn-block:hover::after,
.btn1O:hover::after {
  opacity: 1;
  width: 120%;
}


.dropdown-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-left: 15%;
}