{% extends 'add-base.html' %} 
{% block contenu %}
{% load crispy_forms_tags %}

<div class="d-flex justify-content-center h-100">
    <div class="user_card">
        <div class="d-flex justify-content-center">
            <h3 id="form-title">Add new objectif</h3>
        </div>
        <div class="d-flex justify-content-center form_container">

            <form method="POST" action="">
                  {% csrf_token %}

                <div class="input-group mb-5">
                  
                 <div class="dropdown-center ">
                    <button class="btn btn-success btn-sm btn-block dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                     Choos your project 
                    </button>
                    <ul class="dropdown-menu  ">
                      <li><a class="dropdown-item" href="#">    {{ form.projet}}</a></li>
                     
                    </ul>
                  </div>
                
                  <br><br><br>

                    <div class="dropdown-center">
                        <button class="btn btn-success btn-sm btn-block dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Choos your Nature                       
                       </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#"> {{ form.nature}}</a></li>
                        
                        </ul>
                      </div>
                   

                    {{ form.obj}}
<div class="selected-date">
                  {{ form.date_objectif|as_crispy_field }}
</div>
                  <br>

                </div>

{% endblock %}
{% block back %}
<div class="d-flex justify-content-center mt-3 login_container">
  {% comment %} <!-- ---------------------------- Back Button --- ------------------------> {% endcomment %}
   <a href="{% url 'objectif' %}" class="btn btn-primary btn-sm btn-block">
                             Back
   </a>    
</div>
{% endblock  %}

